

h2= title


.description
  p Description line 1
  p Description line 2
  p Description line 3
  p Description line 4
  p Description line 5


.actions
  a(href="/r/id/i-can-help") I Can Help

  form(action="/r/ID/comment", method="post")
    fieldset
      textarea(name="comment", placeholder="What&rsquo;s your thought?")
      input(type="submit", value="Comment")


!= partial('../comments/list', {})