
h3 Comments
ul.comments
  li
    a(href="/u/USERNAME") USERNAME
    .comment
      p comment line 1
      p comment line 2
  li
    a(href="/u/USERNAME") USERNAME
    .comment
      p comment line 1
      p comment line 2
  li
    a(href="/u/USERNAME") USERNAME
    .comment
      p comment line 1
      p comment line 2

    