
!= partial('./_bar')  

!= partial('tasks/tasks', {tasks: nearbyTasks, tTitle: 'nearby'})

!= partial('tasks/tasks', {tasks: bountyTasks, tTitle: 'bounty'})

- if ('undefined' !== typeof friendTasks)
  != partial('tasks/tasks', {tasks: friendTasks, tTitle: 'friends'})

- if ('undefined' !== typeof mineTasks)
  != partial('tasks/tasks', {tasks: mineTasks, tTitle: 'mytasks'})
