!!!5
html
  head
    meta(charset='utf-8')

    - if ('undefined' !== typeof title)
      title= title
    - else
      title NearHelp

    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    h1.logo
      a(href='/') NearHelp

    - if (everyauth.loggedIn)
      a(href="/r/new") New Task

      ul
        li
          a(href='/requests') Tasks
        li
          a(href='/notifications') Notifications
        li
          a(href='/me') Account
          
    - else 
      ul
        li
          a(href='/register') Register
        li
          a(href='/signin') Sign In

    != body