!!!5
html
  head
    meta(charset='utf-8')
    meta(name="viewport", content="width=320; initial-scale=1.0; user-scalable=0;")
    meta(name="apple-mobile-web-app-capable", content="yes")

    - if ('undefined' !== typeof title)
      title= title
    - else
      title NearHelp

    link(rel='stylesheet', href='/css/style.css')
    link(href='http://fonts.googleapis.com/css?family=Ubuntu+Condensed', rel='stylesheet', type='text/css')

  body
    #contents
      #title
        #titleleft
          a(href="javascript:history.go(-1)")
            img(src='/images/back_arrow.png', width="10", height="14")
        h1#titleright
          a(href="/") NearHelp

      #nav
        - if (everyauth.loggedIn)
          ul
            li#newbtn
              a(href="/t/new")
                img(src="/images/btn_new.png", width="33", height="33")
            li
              a(href='/ls/nearby')
                img(src="/images/btn_left.png", width="80", height="33")
            li
              a(href='/notifications')
                img(src="/images/btn_mid.png", width="80", height="33")
            li
              a(href='/me')
                img(src="/images/btn_right.png", width="80", height="33")
        - else
          ul#guest
            li
              a(href='/signin')
                img(src="/images/btn_login.png", width="80", height="33")
            li
              a(href='/register')
                img(src="/images/btn_signup.png", width="80", height="33")

      != partial('./_bar')
      != body

  script(src="//ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.js")
  script(src="//maps.googleapis.com/maps/api/js?sensor=false&libraries=places")
  script(src="/js/script.js")

  