!!!5
html
  head
    meta(charset='utf-8')

    title= title

    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    h1.logo
      a(href='/helps') NearHelp
      
    ul

      li
        a(href='/help/new') New Request
      li
        a(href='/signout') Logout
      li
        a(href='/register') Register
      li
        a(href='/signin') Sign In

    != body