
h2 New Task

form(action="/t/new", method="post", id="new_r")
  fieldset

    .field
      label(for="new_r_title") What do you need? In short...
      textarea(name="title", id="new_r_title", required) Talented developer help needed

    .field
      label(for="new_r_description") Details about it?
      textarea(name="description", id="new_r_description", required) I'm bluffing =P

    .field
      label(for="new_r_date") When is it?
      input(type="date", name="date", id="new_r_date", required, value="2011-10-17")

    .field
      label(for="new_r_location") The location?
      input(type="text", name="location", id="new_r_location", value="71 Ayer Rajah Crescent Singapore")
      input(type="text", name="lat", id="new_r_lat")
      input(type="text", name="lng", id="new_r_lng")

    .field
      label(for="new_r_willpay") 
        input(type="checkbox", name="willpay", value="willpay", id="new_r_willpay", checked)
        #{"I will pay"}


    .field
      label(for="new_r_bounty") I would like to pay &#36;
      input(type="text", name="bounty", id="new_r_bounty", value="20")

    .action
      input(type="submit", value="Post It!")
