h2 username

h3 Tasks
ul
  li 
    a(href="/request_url") Request 1
  li 
    a(href="/request_url") Request 2
  li 
    a(href="/request_url") Request 3
  li 
    a(href="/tasks") All

h3 Friends
ul
  li Friend 1
  li Friend 2
  li Friend 3
  li
    a(href="/me/friends") View All
